 @import "abstracts/_variables.scss";
 @import "base/_fonts.scss";
@import "base/_normalize.scss";
 @import "layout/_grid.scss";
 @import "base/typography.scss";
 @import "pages/_about.scss";
 @import "layout/_header.scss";
 @import "layout/_footer.scss";
 @import "pages/_index.scss";
 @import "pages/_contact.scss";
 @import "pages/_shop.scss";
 body{

height: 100%;
}
.page{
	min-height: 100vh;
	display: flex;
	flex-direction:column;
	background: #F7FDFB;
	
}
.grid {
	grid-template-columns: 1fr minmax(200px,1170px)1fr;
	display: grid;
}






    
    @import"layout/_media.scss";
    
