.h1, .h2 {
    font-family: 'Rubik';
}
.h1 {
    font-size: 72px;
    line-height: 82px;
    color: #0C122D;
    
    }
.h2{
         font-size: 48px;
        line-height: 50px;
        color: #0C122D;
        padding-left: 44px;
        
}